
.about-us {
	width: 100%;
	margin: 20vh 0;
	/* Відступ зверху для розділу "Про нас" */
	background-color: rgb(253, 195, 195);
	/* Фоновий колір */
	border-radius: 5px;
	/* Радіус кутів */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* Тінь блоку */
	text-align: center;
	/* Вирівнювання тексту по центру */
	padding: 20vh 10% 10vh;
}

@media (prefers-color-scheme: dark) {
	.about-us {
			background-color: rgb(237, 8, 8);
		}
}

.about-us h2 {
	margin-bottom: 10px;
	/* Відступ знизу заголовку "Про нас" */
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.about-us p {
	text-align: justify;
	line-height: 1.2;
	letter-spacing: 1px;
	/* Міжрядковий інтервал */
	margin: 10px;
	/* Зовнішні відступи */
	font-size: 16px;
}

@media (min-width: 601px) {
.about-us p {
		line-height: 1.6;
		letter-spacing: normal;
		/* Міжрядковий інтервал */
		margin: 10px;
		/* Зовнішні відступи */
		font-size: 24px;
	}
}

