
.contact-info {
	margin-top: 80vh;
	/* Відступ зверху для кнопок і контактної інформації */
	display: flex;
	/* Відображати властивість блоку */
	flex-wrap: wrap;
	flex-direction: row;
	/* Напрямок рядка */
	align-items: center;
	/* Вирівнювати по центру */
	justify-content: space-evenly;
	/* Рівномірний розподіл між елементами */
	width: 100%;
}

.btn-contact {
	min-width: 20vw;
	/* Ширина кнопок */
	padding: 10px 20px;
	/* Внутрішні відступи */
	margin: 10px;
	/* Зовнішні відступи */
	border: none;
	/* Без рамки */
	text-decoration: none;
	/* Без підкреслення */
	color: #000000;
	/* Колір тексту */
	text-wrap: nowrap;
	font-weight: 700;
	font-size: 3vh;
	text-align: center;
	/* Вирівнювання тексту по центру */
	background-color: white;
	/* Фоновий колір */
	border-radius: 5px;
	/* Радіус кутів */
	cursor: pointer;
	/* Змінний курсор */
	transition: background-color 0.3s;
	/* Плавний перехід */
	box-sizing: border-box;
}

.btn-contact:hover {
	background-color: black;
	/* Фоновий колір при наведенні */
	color: white;
	/* Колір тексту при наведенні */
}