
.contact-info {
	margin-top: 80vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.btn-contact {
	min-width: 20vw;
	padding: 10px 20px;
	margin: 10px;
	border: none;
	text-decoration: none;
	color: #000000;
	text-wrap: nowrap;
	font-weight: 700;
	font-size: 3vh;
	text-align: center;
	background-color: #f9f9f9;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-sizing: border-box;
}

.btn-contact:hover {
	background-color: black;
	color: white;
}