.footer {
	width: 100%;
	align-items: center;
	text-align: center;
	background-color: #ffffff;
	/* Фоновий колір */
	margin: 0 auto;
	/* Центрування по горизонталі */
	padding: 0 20px;
	/* Внутрішні відступи */
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.contact-info__footer{
			/* Відступ зверху для кнопок і контактної інформації */
			display: flex;
			/* Відображати властивість блоку */
			flex-wrap: wrap;
			flex-direction: row;
			/* Напрямок рядка */
			align-items: center;
			/* Вирівнювати по центру */
			justify-content: space-evenly;
			/* Рівномірний розподіл між елементами */
			width: 100%;
}