.menu {
	width: 100%;
	margin: 20vh 0;
	background-color: black;
	color: #f9f9f9;
	box-shadow: 0 0 5px #f9f9f9;
	text-align: center;
	padding: 20vh 10% 10vh;
}

.menu-category {
	margin: 40px auto;
}

.menu-category h2 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}

.menu-category h4 {
	text-align: justify;
	line-height: 1.2;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 20px;
	margin: 6vh auto;
}

@media (min-width: 601px) {
.menu-category h4 {
		margin-bottom: 20px;
		font-size: 20px;
		margin: 6vh auto;
	}
}

.menu-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-content: space-evenly;
	align-items: start;
}

@media (min-width: 501px) {
	.menu-items {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}

.menu-item {
	overflow: hidden;
	background-color: black;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px #f9f9f9;
	text-align: left;
	transition: background-color 0.3s;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
		
		&_img {
			max-width: 90%;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			order: 1;
		}

		&_text {
			padding: 0 15px;
			order: 2;
		}

		&_img img{
			width: 100%;
	}

		&:hover {
	background-color: #f9f9f9;
	color: black;
		}
}

@media (min-width: 501px) {
	.menu-item {
		height: 500px;
		flex-direction: row;

		&_img {
				max-width: 50%;
			}
	}
}

.menu-item h3 {
	padding: 10px;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.menu-item p {
	padding: 10px;
	margin-bottom: 10px;
}

.tab-header{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			background-color: black;
			
	.active{
			background-color: #f9f9f9;
			color: black;
	}
}

