@import "__nullstyle";
@import "__header";
@import "__logo";
@import "__navi";
@import "__contact";
@import "__about";
@import "__map";
@import "__menu";
@import "__footer";

:root {
	--background-color-light: white;
	--text-color-light: black;
	--background-color-dark: black;
	--text-color-dark: white;
}

/* Загальні стилі */

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	overflow: auto;
	width: 100%;
}


