@import "__nullstyle";
@import "__header";
@import "__logo";
@import "__navi";
@import "__contact";
@import "__about";
@import "__map";
@import "__menu";
@import "__information";
@import "__footer";


body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	overflow: auto;
	width: 100%;
}


